<!doctype html>
<html lang="en">

<head>
    <style>
        .container-fluid{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">made by B-5 (진세훈/김정은/박성우)</div>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
        </div>
    </div>
</footer>

</html>
